@import "tailwindcss";

@theme {
  --font-sans: "Inter", "Helvetica Neue", sans-serif;
  
  --color-brand-red: #DD1627;
  --color-primary-green: #008064;
  --color-info-blue: #0077B6;
  --color-warning-amber: #FFAB00;
  --color-workspace-white: #FFFFFF;
  --color-elevation-grey: #F5F5F5;
  --color-legibility-black: #1A1A1A;
}

:root {
  font-family: var(--font-sans);
  background-color: var(--color-workspace-white);
  color: var(--color-legibility-black);
}
